<div class="wrapper">
  <img alt="" src="assets/images/qaida/lesson7/aayat1.png">
  <!--    <ul class="list-unstyled">-->
  <!--      <li *ngFor="let item of actionLinks; let i = index;">-->
  <!--        <a>{{item.title}}</a>-->
  <!--      </li>-->
  <!--    </ul>-->
  <div class="row m-0 pl-3 pt-3">
    <div *ngFor="let item of actionLinks; let i = index;" class="col-3 m-2 lesson-btn p-0">
      <a [routerLink]="item.url" routerLinkActive="active">{{item.title}}</a>
    </div>
  </div>
</div>
