//.container {
//  background-color: #BBD6D5;
//  height: 100vh;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  padding: 0 1rem;

.wrapper {

  overflow: auto;

  img {
    width: 75%;
    height: 6rem;
    padding: .5rem;
    margin: 0.5rem auto;
  }

  ul {
    padding: 0 1rem;

    li {
      border: 1px solid #969B8B;
      background-color: #E9F2D7;
      margin: 0.2rem auto;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: #4B995F;

        a {
          color: #fff;
        }
      }

      a {
        display: block !important;
        color: #195943;
        font-size: .8em;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  .lesson-btn {
    border: 1px solid #969B8B;
    background-color: #E9F2D7;
    margin: 0.2rem auto;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: #4B995F;

      a {
        color: #fff;
      }
    }

    a {
      color: #195943;
      font-size: .8em;
      font-weight: bold;
      text-decoration: none;
      width: 100%;
      padding: 0.4rem;
      border: none;
      background-color: transparent;
    }
  }
}

//}

.active {
  background-color: #4B995F;
  color: #fff;
}
