$bg-light: #FBF6CA;
$bg-dark: #ECC87B;

.container {
  background-color: $bg-dark;
  height: 100%;
  display: flex;
  padding: 0;
  border: 15px solid #af630d;
  border-right: none;
  flex-direction: column;

  .top-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $bg-dark;

    img {
      width: 60%;
      margin: 0.5rem auto;
    }

    .col {
      flex-basis: 0;
      -webkit-box-flex: 1;
      flex-grow: 0;
      padding: 0 .3em;
      max-width: 100%;

      p {
        margin-top: 5px;
        margin-bottom: 0;
      }

      mat-button-toggle {
        width: 4em;
        background-color: #af630d;
      }

      .mat-button-toggle-button {
        border: 0;
        background: 0 0;
        color: inherit;
        padding: 0;
        margin: 0 !important;
        font: inherit;
        outline: 0;
        width: 100%;
        cursor: pointer;
      }
    }

    button {
      margin: 0.5rem auto;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
  }

  .center-content {
    display: flex;
    background-color: #ECC97C;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 1rem;
    color: #000;

    img {
      width: 30%;
      margin: 0 auto 3rem auto;
    }

    h3.top {
      font-size: 0.8rem;
      border: 3px solid red;
      padding: .5rem;
      color: red;
      margin: 1rem 0;
    }

    h3 {
      font-size: 0.8rem;
      font-weight: bold;
      margin: 2rem 0 0.3rem 0;
    }

    .btn-range {
      width: 100%;
      background-color: #FFEDD8;
      border-radius: 2rem;
      padding: .5rem;
      font-size: .75em;
      font-weight: bold;
      margin: 1rem auto;
      text-align: center;
      white-space: initial;
      box-shadow: 0 0 10px 0px rgba(244, 202, 148, 0.8) !important;
    }

    .link {

      a {
        text-decoration: none;
      }
    }

    h4 {
      font-size: .9rem;
      font-weight: bold;
      margin: 1rem 0;
      color: #000;
      text-transform: uppercase;
    }

    form {
      :host ::ng-deep .mat-radio-container {
        height: 10px;
        width: 10px;
      }

      :host ::ng-deep .mat-radio-outer-circle {
        height: 10px;
        width: 10px;
      }

      :host ::ng-deep .mat-radio-inner-circle {
        height: 10px;
        width: 10px;
      }

      :host ::ng-deep .mat-radio-button .mat-radio-ripple {
        height: 20px; /*double of your required circle radius*/
        width: 20px; /*double of your required circle radius*/
        left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
        top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
      }

      mat-checkbox {
        color: #000;
        font-size: 0.8rem;
      }

      label {
        display: inline-block;
        margin-bottom: .5rem;
        font-size: 0.85rem;
      }
    }
  }

  .mat-radio-group {
    display: flex;
    flex-direction: column;
    color: #000;
  }

  label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 0.8rem;
  }

  .footer-content {
    background-color: $bg-dark;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    button {
      width: 30%;
      margin: 0 0.5rem;
      border: 2px solid;
      transition: 0.3s ease-in-out all;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 30px !important;
  padding: 0 12px;
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .container {
    background-color: $bg-light;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top-content {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;

      img {
        width: 40%;
        margin: 0.5rem auto;
      }

      button {
        margin: 0.5rem auto;
        border-radius: 2rem;
      }
    }

    .center-content {
      display: flex;
      background-color: $bg-dark;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: 0 1rem;
      color: #000;
      font-size: 0.6em;

      img {
        width: 30%;
        margin: 0 auto 3rem auto;
      }

      h3.top {
        font-size: 0.8rem;
        border: 3px solid red;
        padding: .5rem;
        color: red;
        margin: 1rem 0;
      }

      h3 {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 2rem 0 0.3rem 0;
      }

      .link {

        a {
          text-decoration: none;
        }
      }

      h4 {
        font-size: 0.7rem;
        font-weight: bold;
        margin: 1rem 0;
        letter-spacing: 1px;
        color: #000;
        text-transform: uppercase;
      }

      form {
        :host ::ng-deep .mat-radio-container {
          height: 10px;
          width: 10px;
        }

        :host ::ng-deep .mat-radio-outer-circle {
          height: 10px;
          width: 10px;
        }

        :host ::ng-deep .mat-radio-inner-circle {
          height: 10px;
          width: 10px;
        }

        :host ::ng-deep .mat-radio-button .mat-radio-ripple {
          height: 10px; /*double of your required circle radius*/
          width: 10px; /*double of your required circle radius*/
          left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
          top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
        }

        mat-radio-group {
          display: flex;
          flex-direction: column;
          color: #000;
        }

        mat-checkbox {
          font-size: .8em !important;
          color: #000;
        }
      }
    }

    .footer-content {
      display: flex;
      justify-content: space-between;

      button {
        width: 30%;
        padding: 0;
        font-size: 12px;
        border: 1px solid;
        -webkit-transition: 0.3s ease-in-out all;
        transition: 0.3s ease-in-out all;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 30px !important;
    padding: 0 12px;
    font-size: 12px;
  }
  .mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
    background-color: $bg-light;
  }
}
