<div class="container">
  <form [formGroup]="settingsFormGroup" class="form-group m-0">
    <div class="top-content">
      <img src="assets/images/qaida/main-screen/logo1.png">
      <div class="row pt-2 d-flex">
        <div class="col" style="margin: 0 auto;">
          <mat-button-toggle-group
            formControlName="language"
            name="fontStyle"
            aria-label="Font Style">
            <mat-button-toggle value="en">EN</mat-button-toggle>
            <mat-button-toggle value="fr">FR</mat-button-toggle>
            <mat-button-toggle value="ar">عربى</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <!--    <button class="btn btn-success w-50">-->
      <!--      English-->
      <!--    </button>-->
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="!isLessonActive" class="center-content">
      <img src="assets/images/qaida/main-screen/logo2.png">

      <div class="sub-heading">
        <h3 class="top">سجلة كعلامة تجارية حصرية لشركة مجموعة</h3>
        <h3>سجلة كعلامة تجارية حصرية لشركة مجموعة</h3>

        <div class="link">
          <a href="www.furqancenter.com">www.furqancenter.com</a>
        </div>
      </div>
    </div>
    <div *ngIf="isLessonActive" class="center-content">
      <h4 class="m-0 mb-2 p-0">Choose Reading Method</h4>
      <div class="row mt-2">
        <div class="col-sm-10 text-left">
          <!--          <mat-radio-group-->
          <!--            formControlName="fullPage"-->
          <!--          >-->
          <!--            <mat-radio-button value="fullPage">Full Page</mat-radio-button>-->
          <!--            <mat-radio-button value="range">Select the range</mat-radio-button>-->
          <!--          </mat-radio-group>-->
          <mat-checkbox
            (change)="onFullScreenToggle($event)"
            [checked]="isFullScreen"
            [ngModel]="isFullScreen"
            formControlName="fullPage">
            Full Page
          </mat-checkbox>
        </div>
        <div class="col-sm-10 text-left">
          <mat-checkbox
            (change)="onReadingWithTeacherToggle($event)"
            [checked]="isReadingWithTeacher"
            formControlName="readTeacher">
            Reading Teacher
          </mat-checkbox>
        </div>
        <div class="col-sm-10 text-left my-3">
          <label for="repeatCount">Enter Number Of Times For Repetition</label>
          <input class="form-control form-control-sm"
                 formControlName="repeatCount"
                 id="repeatCount"
                 #repeatCount
                 [ngModel]="repeatCount"
                 (change)="onRepeatCountChange(repeatCount.value)"
                 type="number">
        </div>
        <div class="col-sm-10 text-left">
          <mat-radio-group
            (change)="onReadingChange($event)"
            formControlName="spelling">
            <mat-radio-button value="withSpelling">Reading Spellings</mat-radio-button>
            <mat-radio-button value="withoutSpelling">Reading Without Spelling</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-sm-10 text-center">
          <button (click)="onRangeClick()" class="btn btn-range">{{rangeButtonText}}</button>
        </div>
        <div class="col-sm-10 text-center">
          <button (click)="onStop()" mat-button>
            <mat-icon>stop</mat-icon>
          </button>
          <button (click)="onSubmit()" mat-button>
            <mat-icon *ngIf="!isPlaying" (click)="onPlay(repeatCount.value)">play_arrow</mat-icon>
            <mat-icon *ngIf="isPlaying">pause</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
  <mat-divider></mat-divider>
  <div class="footer-content">
    <button>Exit</button>
    <button>Help</button>
  </div>
</div>
