<div class="container-fluid splash-bg bg-primary">
  <div class="splash-img" data-aos="zoom-in" data-aos-delay="5s">
    <img alt="splash" data-aos="zoom-in" src="../../assets/images/qaida/splash.jpg">
  </div>
</div>
