.splash-bg {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .splash-img {
    width: 100vw;
    height: 100vh;
    background-color: transparent;

    img {
      height: 100vh;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50%;
      overflow: hidden;
      transform: translate(-50%, -50%);
    }
  }
}
