﻿/************************** MEDIA QUERIES *******************************/

/************************** 1200PX *******************************/

@media screen and (min-width: 768px) and (max-width: 2400px) {


}
@media only screen and (min-width: 1200px){
    .container {
        max-width: 90% !important;
    }
} 

/************************** 768PX *******************************/

@media only screen and (max-width: 768px){

}

/************************** 576PX *******************************/

@media only screen and (max-width: 576px) {


}

/************************** 480PX *******************************/

@media only screen and (max-width: 480px) {


}

/************************** 420PX *******************************/

@media only screen and (max-width: 420px) {


}

/************************** 300PX *******************************/
/* 
@media only screen and (max-width: 320px) {



} */


@media  (min-width: 320px) and (max-width: 419px)
{
/* splash */
.main-img img{height:100%;width:90%;margin-top:50px;}
.centered{top:72% !important;}
.centered button{width:48%;font-size: 13px ;}

/* lesson7 */
.introvideo{width:100% !important; height: auto;}
.bottom-right{right: 50px !important;}





}    