video {
  width: 100vw;
  height: 100vh;
}

.skip-intro-row {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  text-align: right;


  button {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #FFFBB0;
  }
}
