<div class="container-fluid m-0 p-0 bg-primary">
  <video autoplay>
    <source src="assets/video/introduction.mp4" type="video/mp4">
  </video>
  <div class="skip-intro-row">
    <button class="btn" (click)="onSkip()">Skip Intro</button>
  </div>
</div>
