<div class="container p-0">
  <div class="wrapper">
    <div class="row">
      <div (click)="onImageLetterClick(item.id, i)"
           *ngFor="let item of sixLetterItems; let i = index;"
           [id]="item.id"
           class="col-2 letter-element">
        <audio id="audio{{item.id}}">
          <source [src]="item.audioUrl">
        </audio>
        <img alt="" class="img-letter-6 " src="{{item.url}}"/>
      </div>
    </div>
    <div class="row" style="height: 80px;">
      <div class="col-8 text-right" style="border-right: 0;">
        <img alt="" class="middle-images" src="assets/images/qaida/lesson7/middle_1.png"/>
      </div>
      <div class="col-4 text-left" style="border-left: 0;">
        <img alt="" class="middle-images" src="assets/images/qaida/lesson7/middle_2.png"/>
      </div>
    </div>
    <div class="row seven-chars">
      <div (click)="onImageLetterClick(item.id, i)"
           *ngFor="let item of sevenLetterItems; let i = index;"
           [id]="item.id"
           class="col-md-1-5 letter-1 letter-element">
        <img [src]="item.url" alt="" class="img-letter"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="height: 60px;">
        <img alt="" class="img-letter" src="assets/images/qaida/lesson7/54.png"/>
      </div>
    </div>
  </div>
</div>
