.container {
  .wrapper {
    .row {

      .img-letter-6 {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFCD9;

        &:hover {
          box-shadow: inset -1px 1px 20px -2px #FF0000;
        }
      }

      .img-letter {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFCD9;

        &:hover {
          border-radius: 0;
          box-shadow: inset -1px 1px 20px -2px #FF0000;
        }
      }

      .banner {
        border: none;
      }

      .col-1, .col-2, .col-4, .col-8, .col-10, .col-12 {
        border: 1px solid #000;
        white-space: nowrap;
        overflow: hidden;
        padding: 0;
        box-shadow: none;
      }
    }

    .seven-chars {
      justify-content: space-around;

      .letter-1 {
        -webkit-box-flex: 1;
        flex: 1 0 13.333333%;
        max-width: max-content;
        /* height: 70px; */
        border: 1px solid;
      }
    }
  }
}
