<audio id="hoverEffect">
  <source src="assets/audio/hover.mp3">
</audio>
<div class="container p-0 m-o">
  <div class="wrapper">
    <img alt="" src="assets/images/qaida/lesson7/aayat1.png">
    <ul class="list-unstyled">
      <li (click)="onLessonClick()" (mouseenter)="onHover($event)" *ngFor="let item of actionLinks; let i = index;">
        <a [routerLink]="item.url" routerLinkActive="active">{{item.title}}</a>
      </li>
    </ul>
    <!--    <div class="row m-0 pl-3 pt-3">-->
    <!--      <div *ngFor="let item of actionLinks; let i = index;" class="col-3 m-2 lesson-btn p-0">-->
    <!--        <button (click)="navigateToUrl(item.url)" class="active">{{item.id}}</button>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
