$bg-light: #FBF6CA;
$bg-dark: #ECC87B;

.container {
  background-color: $bg-dark;
  display: flex;
  border: 15px solid #af630d;
  border-left: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;

  .wrapper {

    overflow: auto;

    img {
      width: 65%;
      padding: .5rem;
      margin: 0.5rem auto;
    }

    ul {
      padding: 0 1rem;

      li {
        border: 1px solid $bg-light;
        background-color: $bg-light;
        margin: 0.2rem auto;
        width: 100%;
        padding: 0;
        cursor: pointer;

        &:hover {
          background-color: $bg-dark;

          a {
            color: #000;
          }
        }

        &:active {
          color: #000;

          a {
            color: #000 !important;
          }
        }

        a {
          display: block;
          color: #000;
          font-size: 1em;
          text-decoration: none;

          &:hover {
            color: #000;
          }

          &:active {
            color: #000 !important;
          }
        }
      }
    }

    .lesson-btn {
      border: 1px solid $bg-dark;
      background-color: $bg-light;
      margin: 0.2rem auto;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: $bg-dark;

        a {
          color: #000;
        }
      }

      a {
        display: block;
        color: #FFF;
        font-size: .8em;
        font-weight: bold;
        text-decoration: none;
        width: 100%;
        padding: 0.4rem;
        border: none;
        background-color: transparent;

        &:active {
          color: #000;
        }
      }
    }
  }
}

a.active {
  background-color: $bg-dark;
  color: #000;
}
