/* You can add global styles to this file, and also import other style files */
$bg-light: #FBF6CA;
$bg-dark: #ECC87B;
.container-fluid {
  height: 100%;
  width: 100%;
}

.btn {
  box-shadow: none !important;
  outline: none !important;
}

html, body {
  height: 100%;
  background-color: $bg-light;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #007BFF;
}

.mat-radio-button.mat-accent
.mat-radio-inner-circle,
.mat-radio-button.mat-accent
.mat-radio-ripple
.mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked
.mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active
.mat-radio-persistent-ripple {
  background-color: #007BFF;
}

.mat-checkbox-checked.mat-accent
.mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent
.mat-checkbox-background {
  background-color: #007BFF;
  color: white;
}

.mat-checkbox-checkmark-path {
  stroke: #fff !important;
}

.col-md-1-5 {
  width: 12.5%;
}

// = 8,3333 + 4,16667
.col-md-2-5 {
  width: 20.83333%;
}

// = 16,6666 + 4,16667
.col-md-3-5 {
  width: 29.16667%;
}

// = 25 + 4,16667
.col-md-4-5 {
  width: 37.5%;
}

// = 33,3333 + 4,16667
.col-md-5-5 {
  width: 45.83333%;
}

// = 41,6667 + 4,16667
.col-md-6-5 {
  width: 54.16667%;
}

// = 50 + 4,16667
.col-md-7-5 {
  width: 62.5%;
}

// = 58,3333 + 4,16667
.col-md-8-5 {
  width: 70.83333%;
}

// = 66,6666 + 4,16667
.col-md-9-5 {
  width: 79.16667%;
}

// = 75 + 4,16667
.col-md-10-5 {
  width: 87.5%;
}

// = 83,3333 + 4,16667
.col-md-11-5 {
  width: 95.8333%;
}

.image-selected {
  border: 1.5px solid rgba(0, 0, 0, .5);
  box-shadow: inset -1px 1px 20px -2px #FF0000;
}

.image-letter-initial {
  transform: scale(1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  transition: all ease-in-out 0.3s;
}

.image-letter-scaled {
  transform: scale(1.2);
  border-radius: 10px;
  border: none !important;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5) !important;
  transition: all ease-in-out 0.3s;

  &:hover {
    box-shadow: none;
  }

  .img-letter, .img-letter-6 {
    box-shadow: none;
  }
}

.mat-dialog-container {
  display: block;
  background-color: #BBD6D5;
  text-align: center;
  padding: 0 !important;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  min-height: inherit;
  max-height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.mat-button.mat-button-base {
  background-color: #fff;
  color: #000;
  margin: 0 .2rem;
}

.row {
  margin: 0 !important;
}

.middle-images {
  width: 100%;
}
