<mat-toolbar *ngIf="mobileView" color="primary">
  <button (click)="toggleSideMenu(sidenav)" mat-button>
    <mat-icon>menu</mat-icon>
  </button>
  <button (click)="toggleLessonMenu(sidenav)" class="lesson-menu-btn" mat-button>
    <mat-icon>list</mat-icon>
  </button>
  <mat-sidenav-container [ngClass]="(sidenav.opened) ? 'side-nav-opened': 'side-nav-closed'" class="side-nav">
    <mat-sidenav #sidenav mode="side">
    </mat-sidenav>
    <mat-sidenav-content>
      <app-settings></app-settings>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-toolbar>
<div class="container-fluid p-o m-0">
  <div class="row text-center wrapper">
    <div class="col-sm-12 col-md-12 col-lg-4 p-0">
      <app-settings data-aos="fade-down" data-aos-duration="1500"></app-settings>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 p-0">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 p-0">
      <app-lessons data-aos="fade-down" data-aos-duration="1500"></app-lessons>
    </div>
  </div>
</div>
