@media screen and (max-width: 510px) {

  .mat-toolbar {

    background: #fbf6ca;
    color: #000;
    height: 60px;

    button {
      position: relative;
      left: 10px;
    }

    .lesson-menu-btn {
      position: absolute;
      position: absolute;
      right: 0;
      left: 80%;
    }
  }
  .side-nav {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 80%;
  }

  .lesson-menu {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    width: 80%;
  }
  .side-nav-opened {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 80%;
  }

  .side-nav-closed {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 0%;
  }
  .container-fluid {
    .row {
      app-settings {
        display: none;
      }


      app-lessons {
        display: none;
      }
    }
  }
}

.container-fluid {
  background-color: #fbf6ca;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  white-space: nowrap;

  .wrapper {
    width: 80%;
    margin: 0 auto !important;
  }
}
